@font-face {
    font-family: 'Gotham Rounded';
    src: url('/fonts/GothamRounded-Bold.woff2') format('woff2'),
    url('/fonts/GothamRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('/fonts/GothamRounded-Book.woff2') format('woff2'),
    url('/fonts/GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --primary-color: #333376;
    --secondary-color: #ee2323;
    --light-grey: #46505c;
    --grey: #f3f3f3;
    --dark-grey: #63666a;
    --light: #fff;
    --orange: #f26323;
}

html, body {
    width: 100%;
}

body {
    font-family: 'Gotham Rounded Book';
}


/*
Typography
 */
a {
    text-decoration: none;
}

h3 {
    font-size: ;
}

/*
Property Card
*/

.property-card__inner {
    background-color: var(--grey);
    position: relative;
    color: var(--light-grey);
    border-top-right-radius: 30px;
    overflow: hidden;
}

.property-card__feature-tag {
    font-size: 14px;
    position: absolute;
    padding: 5px 25px;
    color: var(--light);
    background: var(--dark-grey);
}

.property-card__feature-tag.new-build {
    background-color: #98277c
}

.property-card__img {
}


.property-card__title {
    font-family: 'Gotham Rounded';
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 800;
}

.property-card .cta {
    background-color: var(--primary-color);
}

.property-card .cta a {
    text-decoration: none;
    font-size: 12px;
    /*color: var(--light);*/
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 25px;
}

.property-card .cta a.btn-orange {
    background-color: var(--orange);
    color: var(--light);
}

/*
Latest News Feature
 */
#latest-news-feature .date, #latest-news-feature a.category {
    color: #d0cac5;
    font-size: 13px;
}

#latest-news-feature p {
    font-size: 14px;
    color: #434343;
}

#latest-news-feature .read-more {
    background-color: var(--dark-grey);
    color: var(--light);
    text-transform: uppercase;
    border-radius: 25px;
}

#latest-news-feature a {
    text-decoration: none;
}

#latest-news-feature a.view-all-cta {
    color: var(--dark-grey);
    text-transform: uppercase;
    border-radius: 25px;
}

/*
Share Ownership Feature
 */

#shared-ownership-feature {
    background-color: var(--secondary-color);
    color: var(--light);

}

#shared-ownership-feature a {
    color: var(--light);
}


/*
Contact Form
 */

#contact-form-section {
    background-color: #e4e4e4;
}


/*
Footer
 */
footer p {
    font-size: 13px;
    color: #434343;
}

footer .tagline {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 16px;
}

footer .social-icons li {
    padding: 0 5px;
    margin-right: 10px;
    color: var(--light);
    background-color: #b0b0b0;
    border-radius: 100%;
}

footer .social-icons li a {
    color: var(--light);
}

footer address {
    font-style: normal;
    font-size: 13px;
}


footer h5.headings {
    color: var(--primary-color);
    font-size: 16px;
}

.footer-nav {
    background-color: var(--secondary-color);
}

footer nav ul li {
    margin-right: 24px
}

footer nav ul li a {
    color: var(--light);
    font-size: 14px
}

footer nav ul li a:hover {
    color: #fafafa;
    text-decoration: none;
}


input[type="search"] {
    box-sizing: border-box;
}

.searchbox-container {
    border: 1px solid var(--light-grey);
    margin: 0 auto;
    height: 50px;
    display: inline-block;
    border-radius: 35px;
    overflow: hidden;
}

.searchbutton, .searchbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-sizing: border-box;
    -webkit-transition: background-color, 0.3s;
    transition: background-color, 0.3s;
    font-size: 18px;
    line-height: 1;
    color: #666;
    border-radius: 0;
    float: left;
    border: none;
    height: 50px;
    outline: none;
    background: #fff;
}

input[type="search"] {
    width: 100%;
    border-radius: 5px 0 0 5px;
    -webkit-appearance: none;
}

.searchbox {
    padding: 0px 20px;
}

.searchbox:focus, .searchbox:hover {
    background-color: #fff;
}

.searchbox:focus + .searchbutton, .searchbox:hover + .searchbutton {
    background-color: #fff;
}

.searchbox:focus {
    outline: thin dotted;
    outline-offset: -1px;
}

.searchbox.placeholder {
    color: #666;
}

.searchbox:-moz-placeholder {
    color: #666;
}

.searchbox::-moz-placeholder {
    color: #666;
}

.searchbox:-ms-input-placeholder {
    color: #666;
}

.searchbox::-webkit-input-placeholder {
    color: #666;
}

.searchbutton {
    width: 50px;
    padding: 0;
    text-align: center;
    border-radius: 0 5px 5px 0;
}

.searchbutton:hover, .searchbutton:focus {
    background-color: #fff;
    outline: thin dotted;
    outline-offset: -1px;
}

.searchbutton:active {
    color: #206170;
}
